<% form_tag :action=> "signup" do %>

<div title="Change Password" id="change_password" class="form">
  <%= error_messages_for 'user' %><br/>
  <label for="user_password">New Password:</label><br/>
  <%= password_field "user", "password", :size => 30 %><br/>
  <label for="user_password_confirmation">Confirm Password:</label><br/>
  <%= password_field "user", "password_confirmation", :size => 30 %><br/>

<input type="submit" value="Change Password &#187;" class="primary" />

<% end %>
